@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
	
		
	outline:none;
	box-sizing:border-box;
}
body
{
	background:url("images/image1.jpg") no-repeat top center;
	width:100%;
	height:100vh;
	background-size:cover;
	font-size:16px;
	font-family: 'Open Sans', sans-serif;
	color: white;
}
.wrapper{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.contact-us{
	width:100%;
	max-width:500px;
	height:auto;
	background-color:	rgb(47,79,79,0.5)/*darkslategrayrgba(0,0,0,0.7)*/;
	
	padding:80px 90px;
	border-radius:10px;
}
.title{
	font-size: 2em;
	line-height: 1.25em;
	text-align: center;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 2px;
	/*color: #ffc107;*/
	color:black;
	padding-bottom: 15px;
}
.input-fields{
	
	padding: 0 30px;
}
.input-fields.items{
	width: 200px;
	padding-bottom:15px;
}
.input-fields .item .label{
	display: block;
	font-size: 5em;
	color: #555;
	text-transform: capitalize;
	padding-bottom: 10px;
}
.input-fields .items .input,
.input-fields .items .text-area{
	background:transparent;
	border: 0;
	border: 1px solid #ffecb3;
	width: 300px;
	padding: 8px 10px;
	font-size: 1em;
	color: #ffecb3;
	border-radius: 3px;
}
.btn
{
	margin:0 50px;
	/*background:#ffc107;
	color:#ffecb3;*/
	background:black;
	color:grey;
	font-size:1.25em;
	padding:10px 0;
	text-align:center;
	text-transform:uppercase;
	font-weight:bold;
	border-radius:3px;
	cursor:pointer;
	letter-spacing:2px;
}
.items #Message{
	height:100px;
}
@media screen and (max-width: 750px){
	.input-fields{
	padding:0;
	}
}
.label{
	color:black;
}

	
